@media only screen and (min-width: 300px){
	body{
		background-color: #000000;
		margin: 5%;
		font-size: 50%;
	}

	header h1{
		font-size: 600%;
		background-color: #000000;
		color: #f8d553;
		display: inline-block;
		float: left;
		margin-left: 10%;
		margin-top: 5%;
		transition-property: font-size;
		transition-duration: 3s;
	}

	header img{
		width: 35%;
		display: inline-block;
		float: right;
		margin-right: 8%;
		margin-top: 2%;
	}

	div{
		clear: both;
		background: #000209;
	}
	div h1{
		text-decoration: none;
		color: #fef171;
		font-size: 300%;
		text-align: center;
	}


	th,td{
		border: 1px solid #fef171;
		padding-right: 10px;
		padding-left: 10px;
	}


	table{
		color: #FFFFFF;
		margin-top: 1%;
		margin-left: 3%;
		table-layout: auto;
		text-align: center;
		font-size: 300%;
		border: 1px solid #fef171;
	}

	table a{
		text-decoration: none;
		color: #FFFFFF;
		transition-property: font-weight;
		transition-duration: 2s;
	}
	h2{
		color: #fef171;
		text-align: center;
		font-size: 200%;
		background: #000209
	}

	details{
		color: #fef171;
		margin-left: 10%;	
	}

	details a{
		text-decoration: none;
		color: #FFFFFF;
		margin: 2%;
	}

	details a:hover{
		color: #fef171;
	}

	h2 a{
		text-decoration: none;
		color: #fef171;
	}

	h3{
		text-align: left;
		margin-left: 5%;
		margin-bottom: 0%;
		color: #fef171;
		font-size: 150%;
		background-color: #000209;
	}

	ul{
		color: #FFFFFF;
	}


	ul a{
		color: #FFFFFF;
		text-decoration: none;
		font-weight: bold;
		font-style: italic;
	}

	ul a:hover{
			color: #fef171;
	}

	li{
		list-style-type: none;
		font-size: 90%;
	}
}

@media only screen and (min-width: 1000px){
	body{
		background-color: #000000;
		margin: 5%;
		font-size: 100%;
	}

	header h1{
		font-size: 400%;
		background-color: #000000;
		color: #f8d553;
		display: inline-block;
		float: left;
		margin-left: 10%;
		margin-top: 5%;
		transition-property: font-size;
		transition-duration: 3s;
	}

	header img{
		width: 35%;
		display: inline-block;
		float: right;
		margin-right: 8%;
		margin-top: 2%;
	}

	div{
		clear: both;
		background: #000209;
	}
	div h1{
		text-decoration: none;
		color: #fef171;
		font-size: 300%;
		text-align: center;
	}


	th,td{
		border: 1px solid #fef171;
		padding-right: 10px;
		padding-left: 10px;
	}


	table{
		color: #FFFFFF;
		margin-top: 1%;
		margin-left: 3%;
		table-layout: auto;
		text-align: center;
		font-size: 125%;
		border: 1px solid #fef171;
	}

	table a{
		text-decoration: none;
		color: #FFFFFF;
		transition-property: font-weight;
		transition-duration: 2s;
	}
	h2{
		color: #fef171;
		text-align: center;
		font-size: 200%;
		background: #000209
	}

	details{
		color: #fef171;
		margin-left: 10%;	
	}

	details a{
		text-decoration: none;
		color: #FFFFFF;
		margin: 2%;
	}

	details a:hover{
		color: #fef171;
	}

	h2 a{
		text-decoration: none;
		color: #fef171;
	}

	h3{
		text-align: left;
		margin-left: 5%;
		margin-bottom: 0%;
		color: #fef171;
		font-size: 150%;
		background-color: #000209;
	}

	ul{
		color: #FFFFFF;
	}


	ul a{
		color: #FFFFFF;
		text-decoration: none;
		font-weight: bold;
		font-style: italic;
	}

	ul a:hover{
			color: #fef171;
	}

	li{
		list-style-type: none;
		font-size: 90%;
	}
}